<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-column-group.html">
<link rel="import" href="../../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../../bower_components/vaadin-progress-bar/vaadin-progress-bar.html">

<link rel="import" href="../components/timestamp-diff.html">

<dom-module id="repos-view">
  <template>
    <style>
      :host {
        display: block;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        font-family: sans-serif;
        padding: 10px;
      }
      vaadin-grid {
        height: 100%;
      }
      a, a:visited {
        color: inherit;
      }
      .top {
        display: flex;
      }
      .top > vaadin-text-field {
        flex: 1
      }
      .top > * {
        padding: 0 15px 0 0;
      }
      img {
        position: absolute; width: 35px; border-radius: 50%; opacity: 0.8;
      }
      .desc {
        padding-left: 40px;
      }
    </style>
    <iron-ajax id="ajax"
       url="https://api.github.com/search/repositories?q=[[query]]&per_page=100&page=[[page]]&access_token=7e3c1fd3683bbb6f275ed2bc5337ec920dc6fdb3"
       last-response="{{response}}" last-error="{{response}}"
       ></iron-ajax>

       <vaadin-grid items="[[_filter(repos, search)]]" multi-sort>
         <vaadin-grid-column-group>
           <template class="header">
             <vaadin-progress-bar value=[[progress]] min="0" max="[[max]]"></vaadin-progress-bar>
             <div class="top">
               <vaadin-text-field placeholder="Type your Query and push Enter ..." value="{{query}}" on-keydown="_query"></vaadin-text-field>
               <vaadin-text-field placeholder="Filter ..." value="{{search}}"></vaadin-text-field>
               <div>Total: [[total]]</div>
               <div>Show: [[repos.length]]</div>
               <div>Updated: [[updated.length]]</div>
               <div>Stared: [[stared.length]]</div>
               <div>stars: [[stars]]</div>
             </div>
           </template>
           <vaadin-grid-column flex-grow="0" width="3em">
             <template class="header">#</template>
             <template>[[index]]</template>
           </vaadin-grid-column>
           <vaadin-grid-column flex-grow="0" width="300px">
             <template class="header">
               <vaadin-grid-sorter path="name">Element</vaadin-grid-sorter>
             </template>
             <template>
               <a href="https://github.com/[[item.full_name]]" target="_blank" style="direction: rtl">
                 [[item.owner.login]]/<strong>[[item.name]]</strong></a>
             </template>
           </vaadin-grid-column>
           <vaadin-grid-column flex-grow="1">
             <template class="header">Description</template>
             <template>
               <img src="[[item.owner.avatar_url]]"></img>
               <strong class="desc">[[item.description]]</strong>
             </template>
           </vaadin-grid-column>
           <vaadin-grid-column  width="150px" flex-grow="0">
             <template class="header">
               <vaadin-grid-sorter path="pushed_at">Last Push</vaadin-grid-sorter>
             </template>
             <template><timestamp-diff timestamp="[[item.pushed_at]]" color="white"></timestamp-diff></template>
           </vaadin-grid-column>
           <vaadin-grid-column  width="100px" flex-grow="0">
             <template class="header">
               <vaadin-grid-sorter path="language">Lang</vaadin-grid-sorter>
             </template>
             <template>[[item.language]]</timestamp-diff></template>
           </vaadin-grid-column>
           <vaadin-grid-column  width="100px" flex-grow="0">
             <template class="header">
               <vaadin-grid-sorter path="open_issues">Issues</vaadin-grid-sorter>
             </template>
             <template>[[item.open_issues]]</timestamp-diff></template>
           </vaadin-grid-column>
           <vaadin-grid-column  width="100px" flex-grow="0">
             <template class="header">
               <vaadin-grid-sorter path="forks_count">Fork</vaadin-grid-sorter>
             </template>
             <template>[[item.forks_count]]</template>
           </vaadin-grid-column>
           <vaadin-grid-column  width="100px" flex-grow="0">
             <template class="header">
               <vaadin-grid-sorter path="stargazers_count" direction="desc">Star</vaadin-grid-sorter>
             </template>
             <template>[[item.stargazers_count]]</template>
           </vaadin-grid-column>
           <vaadin-grid-column  width="100px" flex-grow="0">
             <template class="header">
               <vaadin-grid-sorter path="score">Score</vaadin-grid-sorter>
             </template>
             <template>[[_score(item.score)]]</template>
           </vaadin-grid-column>
         </vaadin-grid-column-group>
       </vaadin-grid>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReposView extends Polymer.Element {
      static get is() { return 'repos-view'; }
      static get properties() {
        return {
          page: {
            type: Number,
            value: 1
          },
          response: {
            type: Object,
            observer: '_onResponse'
          },
          error: {
            type: Object,
            observer: '_onError'
          },
          repos: {
            type: Array,
            value: []
          },
          updated: {
            type: Array,
            value: []
          },
          stared: {
            type: Array,
            value: []
          },
          max: {
            type: Number,
            value: 6000
          },
          progress: {
            type: Number,
            value: 0
          },
          total: {
            type: Number,
            value: 0
          },
          stars: {
            type: Number,
            value: 0
          },
          query: {
            type: String,
            value: function() {
              var r = /[?&]q=([^&]+)/.exec(location.search);
              return r ? r[1] : '';
            }
          },
          cache: {
            type: Array,
            value: []
          }
        };
      }

      ready() {
        super.ready();
        if (this.query) {
          this.$.ajax.generateRequest();
        }
      }

      _query(e) {
        if (e.which == 13 && this.query) {
          e.preventDefault();
          e.stopPropagation();
          this.progress = 50;
          this.page = 1;
          this.repos = [];
          this.starred = [];
          this.updated = [];
          this.cache = [];
          this.$.ajax.generateRequest();
        }
      }

      _onError(e) {
        console.log(e);
      }

      _onResponse(r) {
        if (!r) {
          return;
        }
        if (r.error) {
          this.progress = this.max;
          return;
        }
        this.total = r.total_count;
        this.max = Math.min(2000, this.total);

        this.progress = this.progress + r.items.length + 100;

        this.repos = this.repos.concat(r.items.filter(i => {
          return this.cache.indexOf(i.id) < 0;
        }));

        this.updated = this.repos.filter(i => i.pushed_at > '2017-04');
        this.stared = this.repos.filter(i => i.stargazers_count > 40);
        this.stars = this.repos.reduce((l, i) => l + i.stargazers_count, 0);
        const total = Math.min(this.max, r.total_count), items = r.items, l = r.items ? items.length: 0;
        if (total && l && total > (this.page * l)) {
          this.page ++;
          this.$.ajax.generateRequest();
        }
        window.dispatchEvent(new CustomEvent('resize'), {});
      }

      _score(s) {
        return String(s).replace(/\..+$/,'');
      }

      _filter(items, search) {
        if (items) {
          return !search ? items.slice(0) : items.filter((item) => {
            return Object.keys(item).reduce((last, current) => {
              return last || typeof item[current] == 'string'
                && item[current].toLowerCase().includes(search.toLowerCase());
            }, false);
          });
        }
       }
     }

    window.customElements.define(ReposView.is, ReposView);
  </script>
</dom-module>
